/*  TYPOGRAPHY
    ------------------------------------------------- */
    body { font-family: sans-serif; line-height: 1.5em;}
    

/*  TOPBAR
    ------------------------------------------------- */
	.nav { height: 60px; background: #FFF; line-height: 60px; -webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transition: -webkit-transform .3s, height .2s ease; -moz-transition:-moz-transform .3s, height .2s linear; -o-transition:transform .3s, height .2s linear; transition:transform .3s, height .2s linear; position: fixed; z-index: 666; top: 0; width: 100%;}
	.hide { -webkit-transform:translate3d(0, -60px, 0);	-moz-transform:translate3d(0, -60px, 0); transform:translate3d(0, -60px, 0); }
	.no-csstransforms3d .nav.hide { -webkit-transform:translate(0, -60px);	-moz-transform:translate(0, -60px);	-ms-transform:translate(0, -60px); -o-transform:translate(0, -60px); transform:translate(0, -60px); }
	.no-csstransforms3d .nav { -webkit-transform:translate(0, 0); -moz-transform:translate(0, 0); -ms-transform:translate(0, 0); -o-transform:translate(0, 0); transform:translate(0, 0); }
	.logo { text-transform: uppercase; display: inline;}
	.claim { font-size: 12px; display: inline;}
	#navigation { display: none; }
	#navigation li { display: inline; }
	#navigation li a { text-decoration: none; }
	#toggleMenu { display: inline-block; float: right; background: #fff; border: 1px solid #DDDDDD; background-color: rgba(0, 0, 0, 0); border-radius: 4px; padding: 10px 15px; font-size: 20px; color: #838383; margin-top: 8px;}
	#toggleMenu:hover { cursor: pointer; background: #E4E4E4; }
	.navWrap { margin: 0 auto; max-width: 90em;}
	
	@media only screen and (min-width: 30em) {
		#toggleMenu { display: none; }
		#navigation { display: inline-block; float: right; }
	}
	
	@media only screen and (min-width: 48em) {
		.demo { background: lightgrey; padding: 200px 0 200px 0;}	
	}
	
	@media only screen and (min-width: 71.25em) {}
	

/*  DEMO ELEMENT w/ MOBILE FIRST
    ------------------------------------------------- */
	
	.demo { background: lightblue; padding: 20px 0 20px 0;}

	@media only screen and (min-width: 30em) { 
	}
	
	@media only screen and (min-width: 48em) {
		.demo { padding: 300px 0 300px 0;}	
	}
	
	@media only screen and (min-width: 71.25em) {}
	

/*  FULLSCREEN ELEMENT
    ------------------------------------------------- */

	.fullscreenwrap { width: 100%; height: 100%; display: block; background: #B4CCCF; text-align: center}
	.fullscreen { bottom: 0; height: 20px; left: 0; margin: auto; position: absolute; top: 40px; right: 0; width: 100%; }
		
	@media only screen and (min-width: 30em) { 
	}
	
	@media only screen and (min-width: 48em) {
	}
	
	@media only screen and (min-width: 71.25em) {}
